@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


form {
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Lobster Two', cursive;
    text-align: center;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: block;
    font-weight: bold;
}

div {
    margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.summit {
    font-family: 'Lobster Two', cursive;
}


.container-login {
    background-color: #c9c9c9;
    display:-webkit-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.img {
    width: 300px;
    height: 250px;
    background-image: url("https://gifdb.com/images/high/4k-geometry-glow-ayrhywxzlyt5chkk.gif");
    background-size: cover;
    margin-left: 60px
  }